body{
	margin: 0
}

hr{
	color: silver;
}

p{
	font-family: Raleway;
	font-size: 1rem;
}

h1 {
	font-weight: 300;
	font-size: 4rem;
	letter-spacing: 2px;
}

h2 {
	font-size: 2.5rem;
}

h4{
	font-size: 1.5rem;
	font-weight: 200;
}

h5 {	
	top: 33%;
}

a {
	text-decoration: none;
	color: #FFF;	
}

a:hover {
	color: #ea5038;
}
a:active {
	color: dimgrey;
}

.clearfix:after
 {
	content: " ";
    clear: both;
    display: block;
}

/* Width Rules */

.width-25{
	width: 25%;
}

.width-30{
	width: 30%;
}

.width-50{
	width: 50%;
}

/* Background Rules */

.background-image-fix{
	width: 100%;
	background-position: cover;
	clear:both;
	background-repeat: 0;
}

.background-color-dk-grey{
	background-color: #404040;
}

.background-white{
	background-color: #FFF;
}

.background-orangered{
	background-color: #ea5038;
}

/* Text Rules */

.text-white{
	color: #FFF;
}

.text-black{
	color: black;
}

.text-red{
	color: red;
}

.text-silver{
	color: dimgrey;
}

.text-shadow-small-dimgrey{
	text-shadow: 1px 1px 1px dimgrey;
}

.text-center{
	text-align: center;
}

.text-bold{
	font-weight: bold;
}

.text-italic{
	font-style: italic;
}

.no-italic{
	font-style: normal;
}

.uppercase{
	text-transform: uppercase;
}

.font-family-serif{
	font-family: PlayfairDisplay, TimesNewRoman, serif;
}

.font-family-sans-serif{
	font-family: Raleway, helvetica, sans-serif;
}

.small-font{
	font-size:0.75rem;
}

.line-height-125-percent{
	line-height: 125%
}

.line-height-180-percent{
	line-height: 180%
}

.line-height-200-percent{
	line-height: 200%
}

.line-height-300-percent{
	line-height: 300%
}

/* Position Rules*/

.left{
	float: left;
}

.right{
	float: right;
}

.no-float{
	float: none;
}

.z-index-1{
	z-index: 1;
}

.z-index-2{
	z-index: 2;
}	
	
.padding-none{
	padding: 0;
}

.padding-small{
	padding: 1vh;
}

.padding-medium{
	padding: 2.5vh;
}

.padding-large{
	padding: 5vh;
}

.padding-sides-2em{
	padding: 0 2em;
}

.padding-3sides-no-bottom{
	padding: 2.5vh 2em 0 2em;
}

.padding-top-20px{
	padding-top: 5vh;
}

.padding-bottom-20px{
	padding-bottom: 5vh;
}

.padding-top-7vh{
	padding-top: 7vh;
}

.padding-bottom-7vh{
	padding-bottom: 7vh
}

.margin-large{
	margin: 5vh;
}

.margin-right-4em{
	margin-right: 4em;
}

.margin-left-2em{
	margin-left: 2em;
}

.margin-top-1vh{
	margin-top: 1vh;
}

.margin-top-bottom-7vh{
	margin: 7vh 0;
}

/* Border Rules */
	
.border-radius30{
	border-radius: 30px 30px;
}

.no-border{
	border: none;
}

/* Footer Rules */


.socialicons {
	padding-top: 5px;
	margin-right: 1em;
}

/* Styled IDs */

#logo {
	height: 12%;
	width: 12%;
}

#cart {
	height: 5%;
	width: 5%;
}

#banner {
	clear: both;
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3),transparent), url("images/flower-bkgd.jpg");
	background-size: cover;
	min-height: 80vh;
	position: relative;
}

#banner-girl {
	position: absolute;
	background-position: top;
	bottom: 0; left: 50%;
	width: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -10%;
	background-image: url("images/banner-girl.png");
	height: 90%;
}

#banner-text {
	position: absolute;
	left: 50%;
	width: 50%;
	top: 45%;
	margin-left:-25%;
	min-height: 40%;
	display: block;
	font-size: 1.5rem;
}

#subscribe-cta {
	background-image: url("images/wave-bkgd.jpg");
	background-position: bottom;
	margin-bottom: 10px;
	width: 100%;
	min-height: 45vh;
	margin: 0 auto;
}

#subscribe-text {
	display: block;
	width: 50%;
	margin:auto;
}

#signup {
	margin: 0 auto;
	padding: 1px;
}


#CTA {
	display: block;
	width: 50%;
	margin:auto;
}

/* Responsive Rules */

@media (max-width: 1050px){


.hidden-for-mobile{
	display: none;
}

.width-30{
	width: 46%;
}

.width-25{
	width: 100%;
	clear: both;
	display:block;
	margin:auto;
	text-align: center;
	padding-left:0;
	padding-right: 0;
}

.socialicons{
	margin-right:0;
	padding:1vh;
	float: left;
	margin-left: 45%;
}

.backgroundimagefix{
	background-position: center;
}

#footer-text, #social-links{
	float: none;
	position: center;
	text-align: center;
}

#footer-text{
padding-top: 3vh;
}

.margin-left-2em{
	margin-left: 0;
}

#CTA{
	width: 60%;
}

#banner {
	clear: both;
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3),transparent), url("images/flower-bkgd.jpg");
	background-size: cover;
	min-height: 80vh;
	position: relative;
	}

#banner-text {
	position: absolute;
	left: 50%;
	width: 80%%;
	top: 45%;
	margin-left:-40%;
	min-height: 30%;
	display: block;
	font-size: 1.5rem;
}


.margin-top-bottom-7vh{
	margin: 3vh 0;
}

}

/* -------------------------- */

@media (max-width: 425px){

h1{
	letter-spacing: normal;
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

.banner-text{
	font-size: 2rem;
	width: 100%
}

#banner-girl{
	width: 50%;
	margin:0 -15vh;
}


.width-30{
	width: 90%;
}

#CTA{
	width: 85%;
}

#logo{
	height: 20%;
}

#cart{
	height: 12%;
}

}
