/* <style>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
</style> */

body{
	margin: 0
}

header{
	max-height: 60px;
}

hr{
	color:silver;
}

p{
	font-family: Raleway;
	font-size: 12;
}

.width-25{
width: 25%;
}

.background-image-fix{
	width: 100%;
	background-position: cover;
	clear:both;
	background-repeat: 0;
}
.background-color-dk-grey{
	color: #40;
}

/* Text Styling */

.text-white{
	color: #FFF;
}

.text-black{
	color: black;
}

.text-red{
	color: red;
}

.text-shadow-small-dimgrey{
	text-shadow: 1px 1px 1px dimgrey;
}

.text-center{
	text-align: center;
}

.text-bold{
	font-weight: bold;
}

.text-italic{
	font-style: italic;
}

.no-italic{
	font-style: normal;
}

.uppercase{
	text-transform: uppercase;
}

.font-family-serif{
	font-family: PlayfairDisplay, TimesNewRoman, serif;
}

.font-famly-sans{
	font-family: Raleway, helvetica, sans-serif;
}

/* Position Styling */

.left{
	float: left;
}

.right{
	float: right;

}

.z-index-1{
	z-index: 1
}

.z-index-2{
	z-index: 2;
}	
	
.padding-none{
	padding:0;
}

.padding-small{
	padding: 10px)
}

.padding-medium {
	padding: 15px
}

.padding-large {
	padding: 20px;
}

#logo {
	height: 12%;
	width: 12%;
	padding: 17px 5px;
}

#cart {
	height: 5%;
	width: 5%;
}

#banner {
	clear: both;
	background-image: url("images/flower-bkgd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 86vh;
	position: relative;
}

#banner-girl {
	position: absolute;
	background-position: top;
	bottom: 0; left: 50%;
	width: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -10%;
	background-image: url("images/banner-girl.png");
	z-index: 1;
	height: 90%;
}

h1 {
	font-weight: lighter;
	font-size: 48pt;
	letter-spacing: 2px;
}

h2 {
	font-size: 36pt;
}

h5 {	
	top:33%;
}

#banner-text {
	position: absolute;
	left: 50%;
	width: 50%;
	top:30%;
	margin-left:-25%;
	min-height: 40%;
	display: block;
	font-size: 18pt;
}
</style>

