body{
	margin: 0
}

header{
	max-height: 60px;
}

.width-25{
width: 25%;
}

.background-image-parameters{
	width: 100%;
	position:relative;
	background-position: cover;
	clear:both;
	background-repeat: 0;
}

/* Text Styling */

.text-white{
	color: #FFF;
}

.text-black{
	color: black;
}

.text-red{
	color: red;
}

.text-shadow-small-dimgrey{
	text-shadow: 1px 1px 1px dimgrey;
}

.text-center{
	text-align: center;
}

.text-bold{
	font-weight: bold;
}

.text-italic{
	font-style: italic;
}

.uppercase{
	text-transform: uppercase;
}

.font-family-serif{
	font-family: PlayfairDisplay, TimesNewRoman, serif;
}

.font-famly-sans{
	font-family: Raleway, helvetica, sans-serif;
}

.left{
	float: left;
}

.right{
	float: right;
}

.padding-small{
	padding: 10px)
}

.padding-medium {
	padding: 15px
}

.padding-large {
	
}

#logo {
	float: left;
	height: 12%;
	width: 12%;
	padding: 17px 5px;
}

#cart {
	float: right;
	height: 5%;
	width: 5%;
}

#banner {
	clear: both;
	background-image: url("images/flower-bkgd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 86vh;
	position: relative;
}

#banner-girl {
	position: absolute;
	background-position: top;
	bottom: 0; left: 50%;
	width: 20%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: -10%;
	background-image: url("images/banner-girl.png");
	z-index: 1;
	height: 90%;
}

h1 {
	color: #FFF;
	font-family: PlayfairDisplay, serif;
	font-weight: lighter;
	font-size: 48pt;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px dimgrey;
}

h5{
	color:#FFF;
	text-transform: uppercase;
	font-family: Raleway;
	text-align: center;
	top:33%;
	z-index: 2;
}

#banner-text {
	position: absolute;
	left: 50%;
	width: 50%;
	margin-left:-25%;
	min-height: 40%;
	display: block;
	font-family: Raleway;
	font-size: 18pt;
	text-transform: uppercase;
	text-shadow: 0.5px 0.5px 0.5px dimgrey;
}


